*{
  margin: 0;
  padding: 0;
}
.macbook-air {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-air .div {
    background-image: url(../assets/homepage.png);
    background-size: cover;
    height: 2591px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .macbook-air .frame {
    align-items: center;
    display: flex;
    gap: 1050px;
    left: 44px;
    position: absolute;
    top: 18px;
    width: fit-content;
  }
  
  .macbook-air .text-wrapper {
    color: #fbf6f6;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-size: 29px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 44.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .macbook-air .frame-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .frame-2 {
    align-items: center;
    display: flex;
    gap: 37px;
    justify-content: flex-end;
    position: relative;
    width: 685px;
  }
  
  .macbook-air .frame-3 {
    align-items: flex-start;
    display: flex;
    gap: 88px;
    margin-left: -20px;
    position: relative;
    width: 389px;
  }
  
  .macbook-air .text-wrapper-2 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24.2px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 50.6px;
  }
  
  .macbook-air .text-wrapper-3 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24.2px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 74.85px;
  }
  
  .macbook-air .div-wrapper {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    margin-right: -0.45px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .text-wrapper-4 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .frame-4 {
    align-items: flex-start;
    border-radius: 7px;
    display: flex;
    gap: 10px;
    padding: 10px 30px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .text-wrapper-5 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 61px;
  }
  
  .macbook-air .frame-5 {
    height: 383px;
    left: 59px;
    position: absolute;
    top: 90px;
    width: 1076px;
  }
  
  .macbook-air .frame-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: fit-content;
  }
  
  .macbook-air .frame-7 {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    padding: 10px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .h-1 {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 93.1px;
    margin-top: -1px;
    position: relative;
    width: 539px;
  }
  
  .macbook-air .cry {
    height: 99px;
    left: 871px;
    object-fit: cover;
    position: absolute;
    top: 110px;
    width: 101px;
  }
  
  .macbook-air .unity {
    height: 30px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 336px;
    width: 96px;
  }
  
  .macbook-air .unreal {
    height: 64px;
    left: 388px;
    object-fit: cover;
    position: absolute;
    top: 319px;
    width: 59px;
  }
  
  .macbook-air .overlap {
    height: 64px;
    left: 44px;
    position: absolute;
    top: 551px;
    width: 560px;
  }
  
  .macbook-air .frame-8 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 419px;
    padding: 10px;
    position: absolute;
    top: 0;
    width: fit-content;
  }
  
  .macbook-air .frame-9 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .frame-10 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .frame-11 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .text-wrapper-6 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 61px;
  }
  
  .macbook-air .text-wrapper-7 {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 46px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 505px;
  }
  
  .macbook-air .frame-12 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: 331px;
    left: 30px;
    position: absolute;
    top: 673px;
    width: 1320px;
  }
  
  .macbook-air .frame-13 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: -40px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .frame-14 {
    align-items: flex-start;
    display: flex;
    gap: 652px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .text-wrapper-8 {
    color: #ffffff;
    font-family: "Rubik-Bold", Helvetica;
    font-size: 31px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 58.1px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .macbook-air .frame-15 {
    align-items: flex-start;
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px 30px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .text-wrapper-9 {
    color: #ffffff;
    font-family: "Rubik-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 37.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .macbook-air .frame-16 {
    align-items: flex-start;
    display: flex;
    gap: 79px;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .rectangle {
    height: 277px;
    min-width: 246px;
    object-fit: cover;
    position: relative;
  }
  
  .macbook-air .img {
    height: 277px;
    min-width: 252px;
    object-fit: cover;
    position: relative;
  }
  
  .macbook-air .rectangle-2 {
    height: 277px;
    min-width: 251px;
    object-fit: cover;
    position: relative;
  }
  
  .macbook-air .frame-17 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 110px;
    padding: 10px;
    position: absolute;
    top: 1259px;
    width: fit-content;
  }
  
  .macbook-air .rectangle-3 {
    height: 536px;
    min-width: 1012px;
    object-fit: cover;
    position: relative;
  }
  
  .macbook-air .frame-18 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
    position: relative;
    width: fit-content;
  }
  
  .macbook-air .text-wrapper-10 {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    height: 40px;
    letter-spacing: 0;
    line-height: 56.2px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 209px;
  }
  
  .macbook-air .lorem-ipsum-is {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    position: relative;
    width: 545px;
  }
  
  .macbook-air .frame-19 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 191px;
    padding: 10px;
    position: absolute;
    top: 1087px;
    width: fit-content;
  }
  
  .macbook-air .p {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 65.6px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 847px;
  }
  
  .macbook-air .frame-20 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 41px;
    left: 0;
    position: absolute;
    top: 2183px;
    width: 1276px;
  }
  
  .macbook-air .text-wrapper-11 {
    color: #ffffff;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 36.8px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .macbook-air .group {
    height: 161px;
    min-width: 1219.09px;
    position: relative;
  }
  
  .macbook-air .group-wrapper {
    height: 161px;
    width: 1219px;
  }
  
  .macbook-air .group-2 {
    height: 161px;
    position: relative;
    width: 1227px;
  }
  
  .macbook-air .text-wrapper-12 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    transform: rotate(-0.18deg);
    width: 372px;
  }
  
  .macbook-air .overlap-group {
    height: 161px;
    left: 450px;
    position: absolute;
    top: 0;
    width: 508px;
  }
  
  .macbook-air .overlap-group-2 {
    height: 161px;
    left: 0;
    position: absolute;
    top: 0;
    width: 508px;
  }
  
  .macbook-air .zeux-portfolio {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 29.8px;
    position: absolute;
    top: 41px;
    width: 372px;
  }
  
  .macbook-air .group-3 {
    height: 161px;
    left: 220px;
    position: absolute;
    top: 0;
    width: 288px;
  }
  
  .macbook-air .text-wrapper-13 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    width: 282px;
  }
  
  .macbook-air .text-wrapper-14 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 133px;
    width: 141px;
  }
  
  .macbook-air .text-wrapper-15 {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 17px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .macbook-air .text-wrapper-16 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 129px;
    width: 196px;
  }
  
  .macbook-air .group-4 {
    height: 34px;
    left: 1035px;
    position: absolute;
    top: 117px;
    width: 184px;
  }
  
  .macbook-air .facebook-wrapper {
    background-color: #ffffff;
    border-radius: 17px;
    box-shadow: 0px 4px 14px #00000026;
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 34px;
  }
  
  .macbook-air .facebook {
    height: 12px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 12px;
  }
  
  .macbook-air .instagram-wrapper {
    background-color: #ffffff;
    border-radius: 17px;
    box-shadow: 0px 4px 14px #00000026;
    height: 34px;
    left: 50px;
    position: absolute;
    top: 0;
    width: 34px;
  }
  
  .macbook-air .instagram {
    height: 13px;
    left: 11px;
    position: absolute;
    top: 10px;
    width: 13px;
  }
  
  .macbook-air .twitter-wrapper {
    background-color: #ffffff;
    border-radius: 17px;
    box-shadow: 0px 4px 14px #00000026;
    height: 34px;
    left: 100px;
    position: absolute;
    top: 0;
    width: 34px;
  }
  
  .macbook-air .twitter {
    height: 13px;
    left: 10px;
    position: absolute;
    top: 11px;
    width: 13px;
  }
  
  .macbook-air .linkedin-wrapper {
    background-color: #ffffff;
    border-radius: 17px;
    box-shadow: 0px 4px 14px #00000026;
    height: 34px;
    left: 150px;
    position: absolute;
    top: 0;
    width: 34px;
  }
  
  .macbook-air .linkedin {
    height: 11px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 11px;
  }
  
  .macbook-air .line {
    height: 1px;
    margin-right: -4px;
    min-width: 1280px;
    position: relative;
  }
  
  .macbook-air .text-wrapper-17 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24.8px;
    position: relative;
    white-space: nowrap;
    width : 100%;
  }
  
  .button {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 7px;
    background: #FA9021;
    }